


.JobDetalTop{
    /* padding: 0 20px; */
}

.BorderRadiusTop{
    padding: 20px 20px 0;
    background-color: #fbfbfb;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.backArrow{
    height: 35px;
    width: 35px;
    background-color: #8D28DD;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backArrow path {
    fill: #fff;
}
svg{
    transform: rotate(90deg);
}

.TopSection {
    display: flex;
    padding: 0 20px;
    gap: 20px;
      margin-top: 5%;
    margin-bottom: 8%;
    
    align-items: center;
}

.CodAmount{
    padding: 0px 0 0 0;
}

.CodAmount label{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 0 0 10px 0;
}

.CodAmount input{
    width: 100%;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    padding: 8px 12px;
    height: 50px;
    margin: 0 0 30px 0;
    outline: none;
}

.CodAmount input::placeholder {
    color:#4b4b4b;
  font-size: 14px;
  font-weight: 400;
  }




.CodButton{
    
    display: flex;
gap: 33px;   
margin: 30px 0 40px 0;
}

.Canvas{
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
}

.CodButton a{
    background-color: #8D28DD;
width: 100%;
height: 46px;
font-size: 24px;
font-weight: 500;
color: #fff !important;
border: none;
display: flex;
justify-content: center;
align-items: center;

    border-radius: 8px;
}
.Greetings p{
    font-size: 12px;
    font-weight: 500;
    text-align: start;
    margin: 0 0 0px 0;
}

.Greetings h5{
    color: #8D28DD;
    font-size: 22px;
    font-weight:600;
    margin: 0;
}

.Greetings h5 span{
    font-size: 14px;
    font-weight: 500;

}
.JobDetalTop{
    display:none;
}

@media(max-width:767px){
    .JobDetalTop{
        display: block;
    }
}